<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <style>
        #qr-reader {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    hello zuzu ATTENTION, c'est celle qui tourne sur Github !
    <div id="qr-reader"></div>
    <div id="result"></div>

    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/app.js"></script>
</body>
</html>


